* {
    margin: 0;
    box-sizing: border-box;
}

.container {

    width: 1280px;
    height: 830px;
    margin: auto;
    background-color: #101010;


}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
    margin-top: 80px;
    color: #fff;
    margin: auto;
}

.board {
    display: flex;
    width: 780px;
    height: 630px;
    border: 1px solid gray;
    gap:24px;
    margin-top: 80px;
}
